    * {
    	margin: 0;
    	padding: 0;
    	box-sizing: border-box;
    	font-family: 'Roboto';
    }

    /*body{
        background-image: url(../multimedia/BackImage.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    */
    /*----------------------------------------------Menu----------------------------------------------------*/

    .menu__container {
    	display: flex;
    	height: 80px;
    	padding: 0 20px;
    	margin-bottom: 20px;
    }


    ul,
    li {
    	list-style-type: none;
    }

    .menu__logo-container {
    	display: flex;
    	height: 100%;
    	width: 120px;
    	margin-left: 30px;
    	align-items: center;
    	justify-content: center;
    }

    .menu__container-ul a {
    	height: 100%;
    }

    .menu__logo {
    	height: 80%;
    	width: 90%;
    }

    .menu__opciones {
    	display: flex;
    	height: 100%;
    }

    a {
    	display: flex;
    	text-decoration: none;
    	align-items: center;
    }

    .opc {
    	display: block;
    	height: 100%;
    	width: 130px;
    	align-items: center;
    	justify-content: center;
    	font-size: 17px;
    	color: rgb(136, 136, 136);
    	font-weight: 900;
    }
    
    .exp {
    	display: flex;
    	height: 100%;
    	width: 130px;
    	align-items: center;
    	justify-content: center;
    	transition: .3s;
    }
    
    .opc:hover {
    	color: rgb(69, 69, 69);
    	cursor: pointer;
    }

    .opc-log {
    	display: flex;
    	align-self: center;
    	margin: auto;
    	background-color: rgb(0, 28, 121);
    	color: white;
    	border-radius: 20px;
    	height: 65%;
    	transition: .3s;
    }

    .opc-log:hover {
    	color: white;
    	height: 68%;
    	width: 137px;
    }

    .opc-rgy {
    	display: flex;
    	align-self: center;
    	margin: auto;
    	border: solid 1px rgba(177, 174, 174, 0.856);
    	margin: 0 5px;
    	margin-left: 20px;
    	height: 65%;
    	border-radius: 25px;
    }

    .opc-rgy:hover {
    	border: solid 1px rgb(69, 69, 69);
    }

    .opc-usu {
    	display: flex;
    	width: 40px;
    	height: 40px;
    	align-self: center;
    	margin-left: 14px;
    	--clip0: polygon(0 0, 100% 0, 100% 0, 0 0);
    	--clip1: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .opc-usu img {
    	width: 100%;
    }

    .menu__opciones-list1 {
    	--clip0: polygon(0 0, 100% 0, 100% 0, 0 0);
    	--clip1: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);

    }

    .menu__opciones-list1>ul {
    	transition: .3s;
    	clip-path: var(--clip0);
    	width: 210px;
    }

    .menu__opciones-list1:hover>ul {
    	clip-path: var(--clip1);

    }

    .menu__opciones-list1 {
    	z-index: 100;

    }

    .menu__opciones-submenu1 {
    	border: 1px solid #ffffff1e;
    	padding: 25px;
    	width: 100%;
    	background-color: #191B26;
    	border-radius: 15px;

    }

    .submenu-opc {
    	height: 55px;
    	display: flex;
    	align-items: center;
    	padding: 12px 10px;
    	/*border-bottom: 1px solid #ffffff1e;*/
    }

    .submenu-opc:hover {
    	border-radius: 15px;
    	background-color: #ffffff1e;
    }

    .submenu-opc a {
    	text-decoration: none;
    	font-size: 17px;
    	color: white;
    	font-weight: 900;
    }


    .img__usu-container {
    	width: 60px;
    	height: 100%;
    	vertical-align: middle;
    	border-radius: 25%;
    	margin-right: 10px;
    }


    .img__usu-container li img {
    	justify-content: center;
    	width: 50px;
    	height: 50px;
    	border-radius: 50%;
    	justify-content: center;
    }

    .img__usu-container a {
    	width: 100%;
    	height: 100%;
    }

    .opc__usu-img {
    	width: 100%;
    	height: 100%;
    	display: flex;
    	--clip0: polygon(0 0, 100% 0, 100% 0, 0 0);
    	--clip1: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .opc__usu-img>div {
    	transition: .3s;
    	clip-path: var(--clip0);
    	position: absolute;
    	top: 80px;
    	right: 20px;
    	z-index: 100;
    }

    .opc__usu-img:hover>div {
    	cursor: default;
    	clip-path: var(--clip1);

    }

    .menu-usuario {
    	background-color: #191B26;
    	width: 200px;
    	color: white;
    	padding: 25px;
    	border-radius: 15px;
    	border: 1px solid #ffffff1e;
    }

    .nombre-usuario,
    .perfil-usuario,
    .cerrar-sesion {
    	height: 55px;
    	display: flex;
    	align-items: center;
    	padding: 12px 10px;
    	/*border-bottom: 1px solid #ffffff1e;*/
    	border-radius: 15px;
    	transition: .3s;
    	width: 100%;
    }

    .nombre-usuario {
    	font-size: 20px;
    	display: flex;
    	align-items: center;
    	justify-content: center;
    }

    .menu-usuario a {
    	color: white;
    	margin: 5px 0;
    }

    .linea {
    	height: 1px;
    	width: 100%;
    	border: 1px solid #ffffff1e;
    	margin: 10px 0;
    }

    .perfil-usuario:hover,
    .cerrar-sesion:hover {
    	background-color: #ffffff1e;
    }


    .menu-usuario div a {
    	color: white;

    }

    .menu__usu-links {
    	display: flex;
    	justify-content: center;
    }


    .facebook,
    .instagram,
    .twitter {
    	display: flex;
    	border-radius: 25px;
    	margin: 0 10px;
    	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }



    .img-redes {
    	height: 30px !important;
    	width: 30px !important;

    }

    .submenu-opc img {
    	width: 17px;
    	height: 17px;
    	vertical-align: middle;
    	margin-right: 10px;
    }

    .gif {
    	margin-bottom: 0;
    }

    .filterImg {
    	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    }

    /*Buscador*/


    .buscador__container-center {
    	width: 100%;
    	height: 100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	margin-left: 35px;
    }

    .buscador::placeholder {
    	font-size: 15px;
    	color: rgb(98, 98, 98);
    }

    .filterImg-buscadorico {
    	position: absolute;
    	width: 37px;
    	height: 37px;
    	filter: invert(42%) sepia(0%) saturate(2746%) hue-rotate(333deg) brightness(90%) contrast(92%);
    }

    .buscador-container {
    	height: 50px;
    	width: 100%;
    	position: relative;
    	--clip0: polygon(0 0, 100% 0, 100% 0, 0 0);
    	--clip1: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);    
    }

    .buscador-container img {
    	position: absolute;
    	height: 40px;
    	width: 40px;
    	right: 10px;
    	top: 5px;
    	border-radius: 15px;
    }

    .buscador {
    	width: 100%;
    	height: 100%;
    	border-radius: 15px;
    	border: none;
    	outline: none;
    	color: rgb(98, 98, 98);
    	font-size: 15px;
    	font-weight: bold;
    	padding-left: 50px;
    	background-color: rgba(185, 185, 185, 0.176);
    }

    .buscador-container > ul{
		width: 100%;
		position: relative;
 	 	z-index: 9999;
    	background-color: white;
    	border: none;
    	border: 1px solid rgba(132, 132, 132, 0.418);
    	overflow-y: scroll;
    	max-height: 80vh;
 	 	
	}
	
    .buscador-container > ul {
  		transition: .3s;
	  	display: none;
	}
	
	.buscador-container:focus-within > ul,  .buscador-container > ul:hover{
 	 	display: block;
	}
	
	
	.filtro-busqueda{
		height: 35px;
		width: 100%;
		
	}
	
    .filtro-busqueda a{
		height: 100%;
		width: 100%;
		padding-left: 20px;
		color: rgb(98, 98, 98);
		font-size: 17px;
	}
   
    .filtro-busqueda a:hover {
    	background-color: rgba(132, 132, 132, 0.121);
    	cursor: pointer;
    }
    
    .filtro-inactivo{
		display: none;
	}



    /*---------------------------------Galeria tipos-------------------------------------*/

    .galeria_tipos {
    	margin-top: 50px;
    	padding: 0 16px;
    }

    .galeria__tipos-cont p {
    	font-weight: bold;
    	font-size: 50px;
    	position: relative;
    	z-index: 1;
    }

    .galeria__tipos-menu {
    	display: flex;
    	justify-content: space-between;
    	margin: 30px 0;
    	width: 100%;
    }

    .opc-menu {
    	display: flex;
    }

    .tipos-opc {
    	height: 50px;
    	color: rgb(72, 72, 72);
    	margin-right: 30px;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	transition: .3s;
    	font-weight: 700;
    	position: relative;
    }

    .arrow {
    	width: 13px;
    	height: 13px;
    	margin-left: 10px;
    	filter: invert(28%) sepia(20%) saturate(9%) hue-rotate(6deg) brightness(96%) contrast(98%);
    }

    .tipos-opc:hover {
    	cursor: pointer;
    }

    .tipos-opc>img {
    	transition: .3s;
    }

    .tipos-opc:hover>img {
    	transform: rotate(180deg);
    }

    .tipos__menu-conf a .arrow {
    	transition: .3s;
    }

    .tipos__menu-conf:hover a .arrow {
    	transform: rotate(180deg);
    }

    .tipos__menu-conf {
    	--clip0: polygon(0 0, 100% 0, 100% 0, 0 0);
    	--clip1: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    	height: 100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	transition: .3s;
    	width: 100%;
    }

    .tipos__menu-conf>ul {
    	clip-path: var(--clip0);
    	width: auto;
    	min-width: 210px;
    	transition: .3s;
    	position: absolute;
    	top: 50px;
    	left: 1px;
    }

    .tipos__menu-conf:hover>ul {
    	clip-path: var(--clip1);
    }

    .tipos__menu-conf {
    	z-index: 10;
    }

    .menu__tipos-submenu {
    	padding: 20px 20px;
    	background-color: white;
    	border: none;
    	border: 1px solid rgba(132, 132, 132, 0.418);
    }

    .submenu__opc-tipos {
    	position: relative;
    	z-index: 20;
    }

    .submenu__opc-tipos:hover {
    	background-color: rgba(132, 132, 132, 0.121);
    }

    .submenu__opc-tipos a {
    	color: rgb(72, 72, 72);
    }

    .filterImg2 {
    	filter: invert(28%) sepia(20%) saturate(9%) hue-rotate(6deg) brightness(96%) contrast(98%);
    }

    .tipos__menu-conf>.tipos__menu-relevantes {
    	left: -96px;
    }

    .menu__tipos-colores {
    	display: flex;
    	flex-wrap: wrap;
    	width: 100%;
    }

    .submenu__opc-colores {
    	width: 40px;
    	height: 40px;
    	border-radius: 100%;
    	margin: 2px;
    }

    .tipos__menu-conf>.tipos__menu__conf-coloresul {
    	width: 265px;
    }

    .submenu__opc-colores {
    	transition: .2s;
    }

    .menu__tipos-colores>.submenu__opc-colores:hover {
    	opacity: .7;
    }

    /*-------------------Menu de claves--------------------*/

    .menu-variasopciones {
    	display: flex;
    }



    /*------------colores---------------------*/
    .rojo {
    	background-color: red;
    }

    .naranja {
    	background-color: orange;
    }

    .amarillo {
    	background-color: yellow;
    }

    .verde {
    	background-color: green;
    }

    .blanco {
    	border: 1px solid rgba(152, 152, 152, 0.600);
    }

    .azul {
    	background-color: blue;
    }

    .morado {
    	background-color: blueviolet;
    }

    .rosado {
    	background-color: pink;
    }

    .marron {
    	background-color: brown;
    }

    .negro {
    	background-color: black;
    }

    .select__filtros-container {
    	min-height: 70px;
    	width: 100%;
    	padding: 0 16px 0 16px;
    	margin-bottom: 45px;
    	display: flex;
    	align-items: center;
    	flex-wrap: wrap;
    }

    .select__filtros-container div {
    	display: flex;
    	align-items: center;
    	margin-bottom: 10px;
    }

    .select__filtros-container div form {
    	margin-right: 20px;
    }

    .form_button-container {
    	padding: 15px;
    	border: 1px solid rgb(136, 136, 136);
    	display: flex;
    	font-size: 17px;
    	border-radius: 50px;
    	transition: .3s;
    }

    .form_button-container:hover,
    .form_button-container:hover>.filtro-p {
    	border-color: rgb(69, 69, 69);
    	color: rgb(69, 69, 69);
    }

    .form_button-container button,
    .form_button-container button img {
    	height: 20px;
    	width: 20px;
    	border-radius: 50px;
    	border: none;
    	background-color: transparent;
    	cursor: pointer;
    	transition: .3s;
    }

    .filtro-p {
    	color: rgb(136, 136, 136);
    	user-select: none;
    	font-weight: 900;
    	margin-right: 5px;
    	transition: .3s;
    }

    .form_button-container button img {
    	filter: invert(56%) sepia(8%) saturate(21%) hue-rotate(0deg) brightness(94%) contrast(89%);
    }

    .form_button-container:hover>button img {
    	filter: invert(23%) sepia(0%) saturate(1494%) hue-rotate(224deg) brightness(105%) contrast(88%);
    }

    /*----------------------------------Galeria------------------------------------*/

    .galeria-container {
    	display: flex;
    	margin-bottom: 20px;
    	padding: 0 10px 10px 10px;
    	justify-content: center;
    	flex-wrap: wrap;
    }

    .galeria-column{
    flex: 25%;
	}

	.galeria-column div{
	    width: 100%;
	}
	
	.card{
	    width: 100%;
	    padding: 5px 7px;
	}
	
	.card-img{
	    width: 100%;
	
	}
/*
    .img-wrapper {
    	position: relative;
    	display: inline-block;
    }

    .img-wrapper:hover .btn-wrapper {
    	opacity: 1;
    }

    .img-wrapper:hover img {
    	opacity: 0.8;
    }

    .btn-wrapper {
    	position: absolute;
    	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
    	opacity: 0;
    	transition: opacity 0.3s ease;
    	z-index: 1;
    }

    .btn-wrapper a {
    	display: inline-block;
    	padding: 10px;
    	background-color: rgba(255, 255, 255, 0.7);
    	color: #333;
    	text-decoration: none;
    	border-radius: 20px;
    	margin: 5px;
    }

    .btn-wrapper a:hover {
    	background-color: #333;
    	color: #fff;
    }
*/

    

    /*
    .visitar-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
}*/
#--------------------------------------Botones de descarga y visita---------------------------------------------

 .card {
    position: relative;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-overlay {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    text-align: center;
}

.image-container:hover .image-overlay {
    opacity: 1;
}

.visitar-btn,
.descargar-btn {
    display: inline-block;
    border-radius: 20px;
    padding: 5px 15px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    text-decoration: none;
}

.visitar-btn:hover,
.descargar-btn:hover {
    background-color: rgba(128, 128, 128, 0.8);
    color: white;
}

.galeria-column .card {
  position: relative;
  overflow: hidden;
}

.galeria-column .card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  transition: .2s;
}

.galeria-column .card-img {
  transition: .2s;
}

.galeria-column .card:hover .card-img {
  opacity: 0.6;
}

.galeria-column .card:hover .btn-group {
  display: flex;
}
/*-----------------------------------------------------------------------------------*/


    @media (max-width: 1000px) {
    	.galeria-column {
    		flex: 33.3%;
    	}
    }

    @media (max-width: 800px) {
    	.galeria-column {
    		flex: 50%;
    	}
    }

    @media (max-width: 600px) {
    	.galeria-column {
    		flex: 100%;
    	}
    }

    .btn-inicio {
    	height: 70px;
    	width: 100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    	margin-top: 40px;
    }

    .btn-inicio a {
    	border: 1px solid;
    	padding: 20px;
    	border-radius: 25px;
    	border: solid 1px rgb(136, 136, 136);
    	color: rgb(136, 136, 136);
    	font-weight: 900;
    	transition: .3s;
    }

    .btn-inicio>a:hover {
    	color: rgb(69, 69, 69);
    	border: solid 1px rgb(69, 69, 69);
    }

    /*-----------------------------------Footer---------------------------------------*/

    .footer-container {
    	padding: 80px 0;
    	margin-top: 50px;
    	border-top: 1px solid rgba(113, 113, 113, 0.313);
    	display: flex;
    	justify-content: space-around;
    }

    /*--------------------col1------------------------*/
    .menu__logo-container-footer {
    	display: block;
    	margin-bottom: 20px;
    }

    .logo__footer {
    	max-height: 80px;
    	margin-left: 0;
    }

    .col-tittle {
    	font-weight: bold;
    	font-size: 18px;
    }

    .menu__logo-container p {
    	color: rgb(69, 69, 69);
    	font-weight: bold;
    }

    .links {
    	display: flex;
    }

    .ico-cont {
    	border-radius: 25px;
    	height: 25px;
    	width: 25px;
    	margin: 37px 15px 0;
    	margin-left: 0;
    }

    .img-ico {
    	height: 100%;
    	width: 100%;
    }

    /*--------------------col2, 3, 4------------------------*/
    .footer-a {
    	color: rgb(118, 118, 118);
    	transition: .3s;
    }

    .footer-a:hover {
    	color: black;
    }

    .footer-opc {
    	margin: 15px 0;
    }