*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

body{
    background-image: url(../multimedia/BackImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

small{
	color: red;
	
}

/*----------------------------------------------Menu----------------------------------------------------*/

.white{
    color: rgb(136, 136, 136);
}

.white:hover{
    color: rgb(69, 69, 69);
}
.menu__container{
    display: flex;
    height: 80px;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.664);
    justify-content: space-between;
    background-color: white;
    padding: 0 20px;
}

ul, li{
    height: 100%;
    list-style-type: none;
}

.menu__logo-container{
    display: flex;
    height: 100%;
    width: 120px;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}

.menu__logo{
    height: 80%;
    width: 90%;
}

.menu__opciones{
    display: flex;
    height: 100%;
}

.menu__opciones-li{
    display: flex;
    align-items: center;
}

.menu__opciones-a {
    display: flex;
    align-items: center;
}

.opc{
    display: flex;
    height: 100%;
    width: 130px;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: 900;
}

.menu__opciones-a a .opc{
    background-color: rgba(2, 204, 231, 0.934);
    color: white;
    border-radius: 20px;
    margin: 0 5px;
}

.menu__opciones-a div:hover{
    border: 1.5px solid rgba(255, 255, 255, 0.664);
}

.menu__opciones li a{
    height: 70%;
}


/*------------------------------------------------------------------------------------------------------*/

.form{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
    padding: 45px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.856);
}

.img__container{
    display: block;
    width: 100px;
    height: 100px;
    margin: auto;
    box-shadow: 0px 2px 6px rgb(95, 95, 95);
    border-radius: 50px;
}
.usu__img{
    width: 100%;
    height: 100%;
}

h1{
    font-weight: bolder;
    text-align: center;
    padding: 27px 0;
    color: rgb(69, 69, 69);
    font-size: 28px;
}

.form-group{
	margin-bottom: 27px;
	text-align: center;
}

.form__input{
    display: block;
    width: 92%;
    height: 40px;
    margin: auto;
    border-radius: 50px;
    border-style: none;
    background-color: rgb(239, 237, 237);
    outline: none;
    padding-left: 25px;
    font-weight: bolder;
    color: rgb(88, 88, 88);
    box-shadow: 0px 3px 4px rgb(186, 186, 186);
}

.form__input::-webkit-input-placeholder{
    font-weight: bolder;
    font-size: 15px;
}

.button__container{
    width: 100%;
    text-align: center;
}

.form__btn{
    width: 89%;
    height: 40px;
    border-radius: 50px;
    border-style: none;
    background-color: rgba(2, 204, 231, 0.934);
    box-shadow: 0px 2px 6px rgb(95, 95, 95);
    margin-bottom: 27px;
}

.form__btn:hover{
    background-color: rgb(42, 228, 253);
    cursor: pointer;
}

.form__btn>a{
    color: white;
    font-size: 20px;
}

p{
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

a{
    text-decoration: none;
}