<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{css/registro.css}"  rel="stylesheet" href="../static/css/registro.css">
    <title>Registro</title>
    <link th:href="@{/multimedia/icons/PicSite backremoved.png}" rel="icon" href="../static/multimedia/icons/PicSite backremoved.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="menu__container">
            <ul>
                <li class="menu__logo-container">
                    <img class="menu__logo" src="../multimedia/PicSiteLogo.png">
                </li>
            </ul>
            <ul class="menu__opciones">
                <li class="opc"><a class="menu__opciones-li white" th:href="@{/}">Menu principal</a></li>
                <li class="menu__opciones-a">
                    <a th:href="@{/loginusu}"><div class="opc white">Iniciar sesión</div></a>
                </li>
            </ul>
        </nav>
    </header>
   <script>
    function validarEmail() {
      var email = document.getElementById('email').value;
      var regex = /^[a-zA-Z0-9]+([.][a-zA-Z0-9]+)*$/;
      var mensajeError = "- El email no debe contener ningún caracter especial excepto el punto, pero solo entre caracteres y no al principio o al final.";
      var mensajeElement = document.getElementById('validacionEmail');

      if (!regex.test(email)) {
        mensajeElement.textContent = mensajeError;
        return false;
      }

      mensajeElement.textContent = "";
      return true;
    }
  </script>
    <div class="main__container">
        <form th:action="@{/registro}" th:object="${usuario}" method="post" class="form">
            <div class="img__container">
                <img src="../multimedia/usuario1.png" alt="User image" class="usu__img">
            </div>
            <div class="form__body">
                <h1>REGISTRO</h1>
				<div class="form-group" >
					<input type="text" name="nombre" th:field="*{nombre}" class="form__input" placeholder="Nombre de usuario" ></input>
					<small class="form-text text-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
				</div>
                
                <div class="form-group">
					<div>
						<input type="text" name="email" th:field="*{email}" class="form__input email-input" placeholder="Email" ></input>
						<p>@gmail.com</p>
					</div>
                	<small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
                	<br><small class="form-text text-danger" id="validacionEmail"></small>					
				</div>
                
                <div class="form-group">
	                <input type="password" name="password" th:field="*{password}" class="form__input" placeholder="Contraseña" ></input>
	                <small class="form-text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>					
				</div>

                <div class="button__container">
                    <button type="submit" class="btn form__btn" id="registrarse" onclick="return validarEmail()"><a>Registrarse</a></button>
                </div>

                <p class="form__p">¿Ya tienes una cuenta? <a th:href="@{/loginusu}">Inicia sesión</a></p>

            </div>
        </form>
    </div>
</body>
</html>