*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
/*body{
    background-image: url(../multimedia/BackImage.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
*/
/*----------------------------------------------Menu----------------------------------------------------*/

.menu__container{
    display: flex;
    height: 80px;
    padding: 0 20px;
    margin-bottom: 20px;
}


ul, li{
    list-style-type: none;
}

.menu__logo-container{
    display: flex;
    height: 100%;
    width: 120px;
    margin-left: 30px;
    align-items: center;
    justify-content: center;
}

.menu__container-ul a{
    height: 100%;
}

.menu__logo{
    height: 80%;
    width: 90%;
}

.menu__opciones{
    display: flex;
    height: 100%;
}

a{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.opc{
    display: block;
    height: 100%;
    width: 130px;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    color: rgb(136, 136, 136);
    font-weight: 900;
}

.exp{
    display: flex;
    height: 100%;
    width: 130px;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.opc:hover{
    color: rgb(69, 69, 69);
    cursor: pointer;
}

li a{
    display: block;
}

.opc-log{
    display: flex;
    align-self: center;
    margin: auto;
    background-color: rgba(0, 60, 255, 0.934);
    color: white;
    border-radius: 20px;
    height: 65%;
    transition: .2s;
}

.opc-log:hover{
    color: white;
    height: 68%;    
    width: 137px;
}

.opc-rgy{
    display: flex;
    align-self: center;
    margin: auto;
    border: solid 1px rgba(177, 174, 174, 0.856);
    margin: 0 5px;
    margin-left: 20px;
    height: 65%;
    border-radius: 25px;
    transition: .3s;
}

.opc-rgy:hover{
    border: solid 1px rgb(69, 69, 69);
}

.menu__opciones-list1{
    --clip0: polygon(0 0, 100% 0, 100% 0, 0 0);
    --clip1: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.menu__opciones-list1 > ul{
    clip-path: var(--clip0);
    width: 255px;
    transition: .3s;
}

.menu__opciones-list1:hover > ul{
    clip-path: var(--clip1);
}

.menu__opciones-list1{
    z-index: 10;
}

.menu__opciones-submenu1{
    border: 1px solid black;
    padding: 25px;
    width: 100%;
    background-color: #191B26;
    border-radius: 15px;
    
}

.submenu-opc{
    height: 55px;
    display: flex;
    align-items: center;
    padding: 12px 10px;
    /*border-bottom: 1px solid #ffffff1e;*/
    border-radius: 15px;
    transition: .3s;
}

.submenu-opc:hover{
    background-color: #ffffff1e;
}

.submenu-opc a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    font-weight: 900;
}

.submenu-opc img{
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-right: 10px;
}

.gif{
    margin-bottom: 0;
}

.filterImg{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/*Buscador*/


.buscador__container-center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
}

.buscador::placeholder{
    font-size: 15px;
    color: rgb(98, 98, 98);
}

.filterImg-buscadorico{
    position: absolute;
    width: 37px;
    height: 37px;
    filter: invert(42%) sepia(0%) saturate(2746%) hue-rotate(333deg) brightness(90%) contrast(92%);
}

.buscador-container{
    height: 50px;
    width: 100%;
    position: relative;
}

.buscador-container img{
    position: absolute;    
    height: 40px;
    width: 40px;
    right: 10px;
    top: 5px;
    border-radius: 15px;
}

.buscador{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
    color: rgb(98, 98, 98);
    font-size: 15px;
    font-weight: bold;
    padding-left: 50px;
    background-color: rgba(185, 185, 185, 0.176);
}

/*-----------------------------Contenido--------------------------------------------*/
.a-regresar{
    border: solid 1px rgba(177, 174, 174, 0.856);
    color: rgb(136, 136, 136);
    margin: 5px;
    margin-left: 20px;
    height: 50px;
    width: 100px;
    border-radius: 25px;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-regresar:hover{
    border: solid 1px rgb(69, 69, 69);
    color: rgb(69, 69, 69);
}

a .regresar{
    font-size: 17px;
}

h1{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
    background: rgb(0,36,143);
    background: linear-gradient(90deg, rgba(0,36,143,1) 0%, rgba(0,177,255,1) 100%);
    color: white;
    border-top-left-radius: 25px;
}
/*-----------------------------formulario--------------------------------------------*/

.form-container{
    margin: auto;
    margin-top: 30px;
    border: 1px solid rgba(113, 113, 113, 0.313);
    width: 500px;
    margin-bottom: 100px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.form{
    height: 100%;
    width: 100%;
    padding: 0 30px 30px 30px;
}

.form-label{
    color: rgb(69, 69, 69);
    margin: 20px 0;
    font-size: 20px;
}

.opciones{
    display: flex;
    flex-wrap: wrap;
}

.column{
    width: 50%;
    margin-bottom: 20px;
}

select{
    display: flex;
    border: solid 1px rgba(177, 174, 174, 0.856);
    margin: 10px 5px 0 0 ;
    height: 40px;
    min-width: 80px;
    border-radius: 25px;
    padding: 10px;
    transition: .3s;

}

select:hover{
    border: solid 1px rgb(69, 69, 69);
}

select option{
    padding: 100px !important;
}

.btn-submit{
    height: 30px;
    border-radius: 25px;
    height: 45px;
    width: 100%;
    transition: .3s;
    background: rgb(0,36,143);
    background: linear-gradient(90deg, rgba(0,36,143,1) 0%, rgba(0,177,255,1) 100%);
    border: none;
    color: #fff;
    font-size: 17px;
    display: block;
}


/*-----------------------------------Footer---------------------------------------*/

.footer-container{
    padding: 80px 0;
    margin-top: 50px;
    border-top: 1px solid rgba(113, 113, 113, 0.313);
    display: flex;
    justify-content: space-around;
}

/*--------------------col1------------------------*/
.menu__logo-container-footer{
    display: block;
    margin-bottom: 20px;
}

.logo__footer{
    max-height: 80px;
    margin-left: 0;
}

.col-tittle{
    font-weight: bold;
    font-size: 18px;
}

.menu__logo-container p{
    color: rgb(69, 69, 69);
    font-weight: bold;
}

.links{
    display: flex;
}

.ico-cont{
    border-radius: 25px;
    height: 25px;
    width: 25px;
    margin: 37px 15px 0;
    margin-left: 0;
}

.img-ico{
    height: 100%;
    width: 100%;
}
/*--------------------col2, 3, 4------------------------*/
.footer-a{
    color: rgb(118, 118, 118);
    transition: .3s;
}

.footer-a:hover{
    color: black;
}

.footer-opc{
    margin: 15px 0;
}
